<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Status of the Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="table-wrapper">
    <table class="dswd-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact No. </th>
          <th>Status of Request</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jonathan Ajeda</td>
          <td>09665435456</td>
          <td>Pending...</td>
        </tr>
        <tr>
          <td>Juan De la Cruz</td>
          <td>09772341234</td>
          <td>Pending</td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
